body {
    font-family: "Segoe UI Variable", sans-serif;
    font-size: 15px;
  }

.contenedor{
    background-color: #F3E9C0;
    padding: 5px;
    min-width: 600px;
    min-height: 315px;
}

.left-align {
  text-align: left;
}


.expand-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px; /* Ajusta el valor según el espacio deseado */
}

.icono{
  width: 100px;
  height: 20px;
  margin-top: 15px;
  margin-left: 10px;
}

.cabe {
  width: 2000px;
  margin-top: -10px;
  height: 50px;
  padding: 0%;
  margin-left: -8px;
  background-color: #222222;
}

a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}